body{
    background-color: #fff;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 20px;
}

img{
    margin-left: 39%;
    width: 20%;
}

hr{
    border: 0;
    border-top: 2px solid #ccc;
    margin: 0;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
}

dl{
    margin-left: 20px;
}

dt{
    font-weight: bolder;
}

dd{
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

label{
    padding-top: 2px;
}

article{
    margin-left: 20px;
}

pre{
    background-color: rgb(225, 225, 225);
    padding: 10px;
}

.form-body{
    width: 100%;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 350px;
}
textarea{
    height: 200px;
}
footer{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    padding-top: 40px;
    padding-bottom: 40px;
}